@page "/ordenes"
@inject IHttpService http
<h3 class="container, text-center">Cosmeticos Hernando</h3>
<br />
<a class=" btn btn-success" href="/ordenes/crear">Nuevo</a>
<br />
<table class="table-secondary">
    

        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Telefono</th>
            <th>Domicilio</th>

        </tr>
    
    @if (ordenes == null)
    {
        <tr>Cargando...</tr>
    }
    else if (ordenes.Count == 0)
    {
        <tr>No existen ordenes</tr>
    }
    else
    {

        @foreach (var item in ordenes)
        {
            

                <tr>

                    <td>@item.Producto</td>
                    <td>@item.Cantidad</td>
                    <td>@item.Telefono</td>
                    <td>@item.Domicilio</td>
                    <td><a class="btn btn-success" href="/ordenes/editar/@item.Id">Editar</a></td>
                    <td><button class="btn btn-warning" @onclick="()=>Eliminar(item)">Eliminar</button></td>
                </tr>
            
        }
    }
</table>
<br />
<p>@error</p>

<Confirmacion @ref="confirmacion"
              onConfirm="GrabarEliminar"
              onCancel="Cancelar"
              Titulo="BORRAR"
              textCancelar="Salir"
              textOk="Aceptar">
    <div>¿Desea eliminar la orden @eliminarOrden.Producto?</div>
</Confirmacion>

@if (Nuevo)
{
    @if (editar || eliminar)
    {
        Cancelar();
        Nuevo = true;
    }
    <br />
    <h3>Nueva orden</h3>
    <br />
    <input placeholder="Nombre" @bind="producto" />
    <input placeholder="Compra" @bind="cantidad" />
    <input placeholder="Compra" @bind="telefono" />
    <input placeholder="Compra" @bind="domicilio" />
    <button class="btn btn-success" @onclick="GrabarNuevo">Grabar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>
}



@if (editar)
{

    <br />
    <h3>Editar orden</h3>
    <br />
    <input placeholder="Producto" @bind="producto" />
    <input placeholder="Cantidad" @bind="cantidad" />
    <input placeholder="Telefono" @bind="telefono" />
    <input placeholder="Domicilio" @bind="domicilio" />
    <button class="btn btn-success" @onclick="GrabarEditar">Grabar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>
}

@if (eliminar)
{

    <br />
    <h3>Eliminar orden</h3>
    <br />
    <input placeholder="Producto" @bind="producto" />
    <input placeholder="Cantidad" @bind="cantidad" />
    <input placeholder="Telefono" @bind="telefono" />
    <input placeholder="Domicilio" @bind="domicilio" />
    <button class="btn btn-success" @onclick="GrabarEliminar">Eliminar</button>
    <button class="btn btn-info" @onclick="Cancelar">Cancelar</button>
}

@code {
    //List<Orden> ordenes = new List<Orden>();
    string error;
    List<Cosmeticos.Shared.Data.Entidades.Orden> ordenes;
    Confirmacion confirmacion;
    Cosmeticos.Shared.Data.Entidades.Orden eliminarOrden;
    string producto = "";
    int cantidad;
    int telefono;
    string domicilio = "";



    bool Nuevo = false;
    bool editar = false;
    bool eliminar = false;
    Cosmeticos.Shared.Data.Entidades.Orden editarOrden;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Leer();
    }

    private async Task Leer()
    {
        var respuestaHttp = await http.Get<List<Cosmeticos.Shared.Data.Entidades.Orden>>("api/ordenes");
        if (!respuestaHttp.Error)
        {
            ordenes = respuestaHttp.Respuesta;
        }
        @*
            
        ordenes = new()
        {
            new Cosmeticos.Shared.Data.Entidades.Orden() { Producto = "Jabon", Cantidad = 2, Telefono = 4638926, Domicilio = "alberdi 134" },
            new Cosmeticos.Shared.Data.Entidades.Orden() { Producto = "asdf", Cantidad = 4, Telefono = 4784927, Domicilio = "ewhsudvn 325" },
        };
        *@
    }

    private void GrabarNuevo()
    {
        
            
        if (producto == "" || cantidad == 0 || telefono == 0 || domicilio == "")
        {
            error = "Error, debe ingresar todos los datos";
        }
        else
        {
            Cosmeticos.Shared.Data.Entidades.Orden orden = new();
            orden.Producto = producto;
            orden.Cantidad = cantidad;
            orden.Telefono = telefono;
            orden.Domicilio = domicilio;
            ordenes.Add(orden);
            Cancelar();
            error = "";
        }
        
    }

    private void Editar(Cosmeticos.Shared.Data.Entidades.Orden ordenEditar)
    {
        if (Nuevo || eliminar)
        {
            Cancelar();
            editar = true;
        }
        editar = true;
        producto = ordenEditar.Producto;
        cantidad = ordenEditar.Cantidad;
        telefono = ordenEditar.Telefono;
        domicilio = ordenEditar.Domicilio;

        editarOrden = ordenEditar;
    }


    private void GrabarEditar()
    {
        ordenes.Remove(editarOrden);
        ordenes.Add(new Cosmeticos.Shared.Data.Entidades.Orden() { Producto = producto, Cantidad = cantidad, Telefono = telefono, Domicilio = domicilio });
        Cancelar();
    }

    private void Eliminar(Cosmeticos.Shared.Data.Entidades.Orden ordenEliminar)
    {
        confirmacion.Mostrar();
        eliminarOrden = ordenEliminar;
        @*
            
        if (Nuevo || editar)
        {
            Cancelar();
            eliminar = true;
        }
        eliminar = true;
        producto = ordenEliminar.Producto;
        cantidad = ordenEliminar.Cantidad;
        telefono = ordenEliminar.Telefono;
        domicilio = ordenEliminar.Domicilio;
        editarOrden = ordenEliminar;
        *@
    }

    private async Task GrabarEliminar()
    {
        var respuesta = await http.Delete($"api/ordenes/{eliminarOrden.Id}");
        if (respuesta.Error)
        {
            var body = await respuesta.GetBody();
        }
        Cancelar();
        await Leer();
    }

    private void Cancelar()
    {
        confirmacion.Ocultar();
        eliminarOrden = null;
        @*
            
        editarOrden = null;
        Nuevo = false;
        editar = false;
        eliminar = false;
        producto = "";
        cantidad = 0;
        telefono = 0;
        domicilio = "";
        *@
    }
}
